* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    background-color: rgba(165, 10, 10, 0.921);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    height: 100px;
    width: 100px;
    font-size: 18px;
    border-radius: 50%;
}

button:hover {
    background-color: antiquewhite;
}

.settings {
    margin: 20px;
    color: gold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid {
    height: 960px;
    gap: 2px;
    border: 3px;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    gap: 2px;
    display: flex;
    flex-direction: row;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}



.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 60px;
    background-color: lightpink;
}

#theDiv {
    gap: 20px;
    background-color: white;
    height: 10px;
    width: 10px;
}

#gitLink:hover {
    transform: scale(1.3);
}